.community__item {
  @apply w-fit h-11 border border-superLightGray dark:border-inputBorderBlue rounded-xl flex items-center justify-center cursor-pointer transition-colors duration-300;

  &.community__item--active {
    @apply bg-lightBlue;
    .text {
      @apply text-white;
    }
  }
  .text {
    @apply px-5  transition-colors duration-300 md:px-16;
  }
}

.profile-card__list {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  justify-content: center;
  gap: 16px;
  @apply overflow-auto md:grid-cols-2;
}
