.container{
  @apply max-w-8x1 px-3 mx-auto;
}
.mainContent{
  @apply p-6 rounded-2xl;
  grid-area: main;
}
.table{
  width: 100%;
  display: grid;
  grid-template-columns: 224px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar main"
  ;
}