.container {
  @apply max-w-4xl px-2 mx-auto md:px-3;
}
.mainContent {
  @apply p-1 rounded-2xl overflow-y-auto h-mainContentMobileHeight md:p-6 md:h-mainContentHeight;
  grid-area: main;
  &::-webkit-scrollbar {
    @apply hidden;
  }
}
.table {
  width: 100%;
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  @media (max-width: 767px) {
    grid-template-areas:
      'header header'
      'main main'
      'sidebar sidebar';
  }
}
