@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
@layer components {
  .icon {
    @apply text-blue dark:text-superLightGray;
  }
}

@layer base {
  body {
    @apply bg-white dark:bg-lightBlack transition-colors;
  }
  a,
  p,
  span,
  div,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  button,
  input {
    @apply text-blue font-semibold dark:text-white transition-colors;
  }
  main,
  input {
    @apply bg-lightGray dark:bg-darkBlue transition-colors;
  }
  ul {
    @apply list-none;
  }
}

